@use './global' as *;

#root {
    overflow: hidden;
}

.app {
    @include flex-column(0, 0);
    @include absolute-boundary(0, 0, 0, 0);
    margin: 0 auto;
    color: #0A0908;

    &__divider {
        border-top: 1px solid map-get($light, dark);
        height: 0px;
    }

    &__header {
        @include flex-column(0, 0);
    }

    &__go-to {
        @include base-button;
        @include flex-column(0, 0);
        align-items: center;
        font-size: get-font-size(secondary, small);
        color: map-get($black, dark);
        font-weight: 500;
    }

    &__post-ad {
        @include base-button;
        @include medium-button;
        @include colors-from-theme($gunmetal_theme, neutral, $hover: active);
        
        @media only screen and (max-width: 500px) {
            padding: $space-medium;

            [data-role="text"] {
                display: none;
            }
        }
    }

    &__header-section {
        @include flex-row($space-medium $space-large, $space-large);
        align-items: center;

        &--top {
            background-color: #ffffff;
            justify-content: flex-end;;
        }

        &--bottom {
            border-bottom: 1px solid map-get($light, dark);
            background-color: #ffffff;
        }

        &--main {
            background-color: $orange;
            justify-content: center;
        }
    }

    &__header-group {
        @include flex-row(0, $space-large);
        align-items: center
    }

    &__header-link {
        @include base-button;
        font-size: get-font-size(secondary, medium);
        
        &:hover {
            text-decoration: underline;
        }
    }

    &__header-search-bar {
        display: flex;
        max-width: 49rem;
        gap: inherit;
        flex: 1;
    }

    &__header-search-widget {
        @include flex-row(0, 0);
        overflow: hidden;
        flex-grow: 1;
        height: 100%;
    }

    &__header-search-field {
        @include flex-row(0, 0);
        border-radius: $radius-medium 0 0 $radius-medium;
        overflow: hidden;
        flex-grow: 1;
        border: 1px solid map-get($light, dark);
        box-sizing: border-box;
        background-color: map-get($light, light);

        [data-role="input"] {
            @include medium-button;
            border-radius: 0;
            position: relative;
            background-color: transparent;
            flex-grow: 1;

            input {
                @include absolute-boundary(0, 0, 0, 0);
                @include ellipsis;
                padding: $space-small;
            }
        }
    }

    &__header-search-button {
        @include base-button;
        @include medium-button;
        @include colors-from-theme($gunmetal_theme, neutral, $hover: active);
        border-radius: 0 $radius-medium $radius-medium 0;
    }

    &__header-category-select {
        @media only screen and (max-width: 500px) {
            display: none;
        }

        $theme: $gunmetal_theme;
        
        &[data-state="open"] [data-role="root"] {
            border-radius: $radius-medium $radius-medium 0 0;
        }

        [data-role="root"] {
            @include base-button;
            @include medium-button;
            @include colors-from-theme($theme, neutral, $hover: active);
            width: 9rem;        
            box-sizing: border-box;
        }

        [data-role="option-list"] {
            min-width: 9rem;          
            overflow: hidden;
            border-radius: 0 0 $radius-small;  
            box-sizing: border-box;
        }

        [data-role="option"] {
            @include base-button;
            @include medium-button;
            @include colors-from-theme($theme, neutral, $hover: active, $checked: active);
            border-radius: 0px;
            
            border: 1px solid transparent;
            box-sizing: border-box;
            &:has(:checked) {
                border: 1px solid get_theme_attr($theme, inactive, bg);
            }
        }
    }

    &__logo {
        @include base-button;
        color: map-get($light, light);
    }

    &__icon {
        color: #0A0908;
    }

    &__body {
        @include flex-row($space-large, $space-large);
        flex-grow: 1;
        background-color: #ffffff;
    }

    &__auth-wrapper {
        @include flex-column(0, $space-large);
        flex-grow: 1;
    }

    &__link {
        font-size: get-font-size(secondary, small);
        color: blue;

        &:hover {
            text-decoration: underline;
        }
    }
}

.frontpage {
    @include flex-column(0, $space-large);
    flex-grow: 1;
    overflow: hidden;

    &__header {
        @include flex-row($space-large, 0);
        justify-content: space-between;
        align-items: center;
    }

    &__title {
        font-size: get-font-size(primary, large);
        font-weight: bold;
        color: map-get($black, dark);
    }

    &__link {
        font-size: get-font-size(secondary, medium);
        color: blue;
    }

    
    &__recent-ads {
        gap: $space-large;
        max-width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    &__main {
        @include flex-column(0, $space-large);
    }

    &__gallery {
        @include flex-column($space-large, $space-large);
        background-color: #ffffff;
        border: 1px solid map-get($light, dark);
        width: 100%;
        box-sizing: border-box;

        &-title {
            font-size: get-font-size(primary, medium);
            font-weight: bold;
            color: map-get($black, dark);
        }

        &-divider {
            border-top: 1px solid map-get($light, dark);
            height: 0px;
        }

        &-header {
            display: grid;
            grid-template: auto / 1fr auto auto;
            gap: $space-medium;
            align-items: center;
        }

        &-content {
            @include flex-row($space-small, $space-large);
            border-right: $space-small solid transparent;
            overflow: auto;

            &::-webkit-scrollbar {
                background-color: transparent;
                height: 0px;
            }    
        }

        &-control {
            @include base-button;
            border: 1px solid map-get($light, dark);
            border-radius: $radius-medium;
        }
    }

    &__highlight {
        @include flex-row(0, $space-large);
        flex-wrap: wrap;
        justify-content: center;

        &-box {
            @include flex-column($space-large, $space-large);
            background-color: #ffffff;
            border: 1px solid map-get($light, dark); 
            flex: 1 0 0;
            overflow: hidden;
            min-width: 15rem;
        }

        &-header {
            @include flex-row(0, 0);
            align-items: center;
            justify-content: space-between;
        }

        &-item {
            display: grid;
            grid-template: repeat(4, auto) / 4rem 1fr;
            gap: 0 $space-large;
            overflow: hidden;
        }

        &-image {
            background-color: #ffffff;
            aspect-ratio: 1 / 1;
            grid-row: 1 / -1;
            border: 1px solid map-get($light, dark); 
        }

        &-title {
            font-size: get-font-size(primary, small);
            font-weight: 700;
            color: map-get($black, dark);
        }

        &-label {
            @include ellipsis;
            overflow: hidden;
            font-size: get-font-size(secondary, small);
            font-weight: 500;
            color: map-get($black, dark);

            &--main {
                font-weight: 700;
            }
        }

        &-price {
            font-size: get-font-size(secondary, medium);
            font-weight: 700;
            color: $red;
        }

        &-divider {
            border-top: 1px solid map-get($light, dark);
            height: 0px;
        }
    }

    &__ad {
        @include flex-column($space-large $space-large $space-large $space-large, $space-large);
        @include has-shadow;
        background-color: $orange;
        position: relative;
        flex-shrink: 0;

        &--featured {
            width: 7rem;
        }

        &--normal {
            @media only screen and (min-width: 500px) {
                width: 5rem;
            }

            @media only screen and (min-width: 600px) {
                width: 6rem;
            }
        }

        &-image {
            width: 100%;
            aspect-ratio: 1 / 1;
            border: 1px solid map-get($light, dark);
            background-color: #ffffff;
        }

        &-title {
            @include ellipsis;
            font-size: get-font-size(secondary, large);
            color: map-get($black, dark);
            font-weight: 700;
        }

        &-price {
            @include ellipsis;
            font-size: get-font-size(secondary, medium);
            color: map-get($black, light);
            font-weight: 500;
        }

        &-pricetag {
            @include has-shadow;
            @include base-button;
            @include small-button;
            background-color: $red;
            color: #ffffff;
            font-size: get-font-size(secondary, medium);
            font-weight: 700;
            position: absolute;
            top: $space-small;
            right: $space-small;
            user-select: none;
        }

        
    }
}

 


[data-role="select"] {
    &[data-state="open"] {
        [data-role="option-list"] {
            visibility: visible;
        }

        [data-role="marker"] {
            transform: rotate(0);
        }
    }

    [data-role="marker"] {
        transform: rotate(-90deg);
    }

    [data-role="label"] {
        @include ellipsis;
    }

    [data-role="option-list"] {
        @include flex-column(0, 0);
        position: fixed;
        visibility: hidden;
        overflow: auto;
        z-index: 2; 
    }
    
    [data-role="option"] {
        @include base-button;
        @include input-replacement;
    }
}

.form {
    @include flex-column($space-large, $space-large);
    flex: 1;
    border: 1px solid map-get($light, dark);
    max-width: 49rem;
    margin: 0 auto;
    height: fit-content;

    &__body {
        @include flex-column($space-large, $space-large);
    }

    &__header {
        @include flex-row($space-large, $space-large);
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &__footer {
        @include flex-row($space-large, $space-large);
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &__title {
        font-size: get-font-size(special, small);
        font-weight: 700;
        color: map-get($black, dark);
    }

    &__field {
        @include flex-column(0, $space-small);
    }

    &__error {
        font-size: get-font-size(secondary, medium);
        font-weight: 500;
        color: $red;

        &::before {
            content: '•';
            margin-right: $space-small;
        }
    }

    &__label {
        font-size: get-font-size(secondary, medium);
        font-weight: 500;
        color: map-get($black, dark);
    }

    &__char-input {
        @include medium-button;
        @include ellipsis;
        width: 100%;
        box-sizing: border-box;
        padding: $space-medium-large;
        border: 1px solid map-get($light, dark);
        background-color: map-get($light, light);
    }
    
    &__char-textarea {
        @include medium-button;
        @include ellipsis;
        width: 100%;
        box-sizing: border-box;
        padding: $space-medium-large;
        border: 1px solid map-get($light, dark);
        background-color: map-get($light, light);
    }

    &__pill-select-widget {
        @include flex-row(0, $space-large);
        flex-wrap: wrap;

        [data-role="option"] {
            @include base-button;
            @include medium-button;
            @include input-replacement;
            gap: $space-large;
            padding: $space-large;
            border: 1px solid map-get($light, dark);
            color: map-get($black, dark);
            font-weight: 500;
            
            &:has(:checked) .icon {
                border: 1px solid map-get($black, light);
                background-color: map-get($black, light);
            }
        }

        .icon {
            @include default-color-transition;
            border: 2px solid map-get($light, dark);
            border-radius: 9999px;
        }
    }

    &__submit {
        @include base-button;
        @include medium-button;
        @include colors-from-theme($yellow_theme, $initial: neutral, $hover: active);
        font-weight: 500;
        padding: $space-medium-large;
        width: 33%;
        justify-content: center;
        margin-left: auto;

        @media only screen and (max-width: 500px) {
            width: 100%;
        }
    }

    &__reset {
        font-weight: 400;
        font-size: get-font-size(secondary, medium);
        color: map-get($black, light);
    }

    &__drawer {
        @include flex-column(0, 0);
        background-color: map-get($light, dark);
        border-top: 1px solid map-get($light, dark);
        border-right: 1px solid map-get($light, dark);
        
        [data-role="choices"] [data-role="choices"] {
            padding-left: $space-large;
        }

        [data-role="check"] {
            visibility: hidden;
        }

        [data-role="branch"] {
            border-left: 1px solid map-get($light, dark);
        }

        [data-role="branch"][data-active="true"] {
            > [data-role="root"] {
                background-color: map-get($light, neutral);

                [data-role="marker"] {
                    transform: rotate(90deg);
                }
            }
        }

        [data-role="leaf"], [data-role="root"] {
            @include input-replacement;
            @include base-button;
            @include medium-button;
            border-radius: 0px;
            background-color: white;
            font-weight: 500;
            justify-content: space-between;
            box-sizing: border-box;
            border-bottom: 1px solid map-get($light, dark);

            &:hover {
                background-color: map-get($light, light);
            }

            &:has(:checked) {
                background-color: map-get($light, neutral);

                [data-role="check"] {
                    visibility: visible;
                }
            }
        }
    }

    &__action {
        @include base-button;
        @include small-button;
        @include colors-from-theme($yellow_theme, $initial: neutral, $hover: active);
        width: fit-content;
        font-size: get-font-size(secondary, small);
        font-weight: 500;
        color: map-get($black, dark);
    }

    &__helper-text {
        font-size: get-font-size(secondary, small);
        font-weight: 400;
        color: map-get($black, dark);
    }

    &__multi-image-input {
        [data-role="widget"] {
            @include flex-row($space-medium-large, $space-large);
            border: 1px solid map-get($light, dark);
            background-color: map-get($light, light);
            border-radius: $space-medium;
            flex-wrap: wrap;
        }
        
        [data-role="image-button"] {
            @include input-replacement;
            display: flex;
            justify-content: center;
            padding: $space-large;
            border: 1px solid map-get($light, dark);
            color: get_theme_attr($gunmetal_theme, neutral, bg);
            border-radius: $space-medium;
            background-color: white;
            width: 3rem;
            height: 2rem;
            position: relative;
            overflow: hidden;
        }

        [data-role="image-preview"] {
            position: absolute;
            inset: 0;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                overflow: clip;
            }
        }

        [data-role="uploading"] {
            @include flex-row(0, $space-large);
            align-items: center;

            .icon {
                animation: spin 4s linear infinite;
            }
        }
    }
}


.overlay {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.34);
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}


.prompt {
    @include flex-column($space-large, $space-large);
    background-color: white;
    max-width: 49rem;
    max-height: 30rem;
    flex: 1;
    height: 100%;
    overflow: auto;
    border: 1px solid map-get($light, dark);
    border-radius: $radius-medium;

    &__header {
        @include flex-row($space-large, $space-large);
        align-items: center;
        justify-content: space-between;
    }

    &__title {
        font-size: get-font-size(special, small);
        font-weight: 700;
        color: map-get($black, dark);
    }

    &__body {
        @include flex-column($space-large, $space-large);
        overflow: auto;
        flex: 1;
    }

    &__footer {
        @include flex-row($space-large, $space-large);
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &__confirm {
        @include base-button;
        @include medium-button;
        @include colors-from-theme($yellow_theme, $initial: neutral, $hover: active);
        font-weight: 500;
        padding: $space-medium-large;
        width: fit-content;
        margin-left: auto;

        &--disabled {
            cursor: not-allowed;
            filter: grayscale(100%);
        }
    }
}