@charset "UTF-8";
@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
#root {
  overflow: hidden;
}

.content-grid {
  display: grid;
  grid-template-columns: [full-width-start] 1fr [pamphlet-start] minmax(0, 49rem) [pamphlet-end] 1fr [full-width-end];
}
.content-grid > :not(.pamphlet) {
  grid-column: full-width;
}
.content-grid > .pamphlet {
  grid-column: pamphlet;
}

.app {
  display: flex;
  flex-direction: column;
  padding: 0;
  gap: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
  color: #0A0908;
}
.app__divider {
  border-top: 1px solid #D6DDD9;
  height: 0px;
}
.app__header {
  display: flex;
  flex-direction: column;
  padding: 0;
  gap: 0;
}
.app__go-to {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow-x: clip;
  align-items: center;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  padding: 0;
  gap: 0;
  align-items: center;
  font-size: 0.75rem;
  color: #0A0908;
  font-weight: 500;
}
.app__post-ad {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow-x: clip;
  align-items: center;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  flex-shrink: 0;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s;
  display: flex;
  padding: 0.35rem 0.75rem;
  gap: 0.35rem;
  font-size: 0.8125rem;
  border-radius: 4px;
  color: #F2F4F3;
  background-color: #22333B;
}
.app__post-ad:hover {
  color: #F2F4F3;
  background-color: #1C2B31;
}
@media only screen and (max-width: 500px) {
  .app__post-ad {
    padding: 0.35rem;
  }
  .app__post-ad [data-role=text] {
    display: none;
  }
}
.app__header-section {
  display: flex;
  padding: 0.35rem 0.75rem;
  gap: 0.75rem;
  align-items: center;
}
.app__header-section--top {
  background-color: #ffffff;
  justify-content: flex-end;
}
.app__header-section--bottom {
  border-bottom: 1px solid #D6DDD9;
  background-color: #ffffff;
}
.app__header-section--main {
  background-color: #D8B60E;
  justify-content: center;
}
.app__header-group {
  display: flex;
  padding: 0;
  gap: 0.75rem;
  align-items: center;
}
.app__header-link {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow-x: clip;
  align-items: center;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  flex-shrink: 0;
  font-size: 0.8125rem;
}
.app__header-link:hover {
  text-decoration: underline;
}
.app__header-search-bar {
  display: flex;
  max-width: 49rem;
  gap: inherit;
  flex: 1;
}
.app__header-search-widget {
  display: flex;
  padding: 0;
  gap: 0;
  overflow: hidden;
  flex-grow: 1;
  height: 100%;
}
.app__header-search-field {
  display: flex;
  padding: 0;
  gap: 0;
  border-radius: 4px 0 0 4px;
  overflow: hidden;
  flex-grow: 1;
  border: 1px solid #D6DDD9;
  box-sizing: border-box;
  background-color: #F2F4F3;
}
.app__header-search-field [data-role=input] {
  transition: background-color 0.2s, color 0.2s, border-color 0.2s;
  display: flex;
  padding: 0.35rem 0.75rem;
  gap: 0.35rem;
  font-size: 0.8125rem;
  border-radius: 4px;
  border-radius: 0;
  position: relative;
  background-color: transparent;
  flex-grow: 1;
}
.app__header-search-field [data-role=input] input {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow-x: clip;
  padding: 0.25rem;
}
.app__header-search-button {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow-x: clip;
  align-items: center;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  flex-shrink: 0;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s;
  display: flex;
  padding: 0.35rem 0.75rem;
  gap: 0.35rem;
  font-size: 0.8125rem;
  border-radius: 4px;
  color: #F2F4F3;
  background-color: #22333B;
  border-radius: 0 4px 4px 0;
}
.app__header-search-button:hover {
  color: #F2F4F3;
  background-color: #1C2B31;
}
@media only screen and (max-width: 500px) {
  .app__header-category-select {
    display: none;
  }
}
.app__header-category-select[data-state=open] [data-role=root] {
  border-radius: 4px 4px 0 0;
}
.app__header-category-select [data-role=root] {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow-x: clip;
  align-items: center;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  flex-shrink: 0;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s;
  display: flex;
  padding: 0.35rem 0.75rem;
  gap: 0.35rem;
  font-size: 0.8125rem;
  border-radius: 4px;
  color: #F2F4F3;
  background-color: #22333B;
  width: 9rem;
  box-sizing: border-box;
}
.app__header-category-select [data-role=root]:hover {
  color: #F2F4F3;
  background-color: #1C2B31;
}
.app__header-category-select [data-role=option-list] {
  min-width: 9rem;
  overflow: hidden;
  border-radius: 0 0 2px;
  box-sizing: border-box;
}
.app__header-category-select [data-role=option] {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow-x: clip;
  align-items: center;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  flex-shrink: 0;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s;
  display: flex;
  padding: 0.35rem 0.75rem;
  gap: 0.35rem;
  font-size: 0.8125rem;
  border-radius: 4px;
  color: #F2F4F3;
  background-color: #22333B;
  border-radius: 0px;
  border: 1px solid transparent;
  box-sizing: border-box;
}
.app__header-category-select [data-role=option]:hover {
  color: #F2F4F3;
  background-color: #1C2B31;
}
.app__header-category-select [data-role=option]:has(:checked) {
  color: #F2F4F3;
  background-color: #1C2B31;
}
.app__header-category-select [data-role=option]:has(:checked) {
  border: 1px solid #2B414B;
}
.app__logo {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow-x: clip;
  align-items: center;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  flex-shrink: 0;
  color: #F2F4F3;
}
.app__icon {
  color: #0A0908;
}
.app__body {
  padding: 0.75rem;
  gap: 0.75rem;
  flex-grow: 1;
  background-color: #ffffff;
}
.app__auth-wrapper {
  display: flex;
  flex-direction: column;
  padding: 0;
  gap: 0.75rem;
  flex-grow: 1;
}
.app__link {
  font-size: 0.75rem;
  color: blue;
}
.app__link:hover {
  text-decoration: underline;
}
.app__avatar {
  border-radius: 9999px;
  overflow: hidden;
}
.app__avatar .avatar {
  background-color: #423D36;
}

.confirmation {
  display: flex;
  flex-direction: column;
  padding: 0.75rem;
  gap: 0.75rem;
  align-items: center;
}
.confirmation__icon {
  width: 10rem;
  height: 10rem;
  font-size: 10rem;
  color: #22333B;
}
.confirmation__title {
  font-size: 2rem;
  font-weight: bold;
  color: #0A0908;
  justify-content: center;
  text-align: center;
}
.confirmation__section {
  display: flex;
  padding: 0.75rem;
  gap: 0.75rem;
  flex-wrap: wrap;
  justify-content: center;
}
.confirmation__button {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow-x: clip;
  align-items: center;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  flex-shrink: 0;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s;
  display: flex;
  padding: 0.75rem;
  gap: 0.75rem;
  font-size: 1rem;
  border-radius: 4px;
}
.confirmation__button--ad {
  color: #0A0908;
  background-color: #AFF128;
}
.confirmation__button--ad:hover {
  color: #0A0908;
  background-color: #F1CF28;
}
.confirmation__button--new {
  color: #F2F4F3;
  background-color: #22333B;
}
.confirmation__button--new:hover {
  color: #F2F4F3;
  background-color: #1C2B31;
}

.frontpage {
  display: flex;
  flex-direction: column;
  padding: 0;
  gap: 0.75rem;
  flex-grow: 1;
  overflow: hidden;
}
.frontpage__header {
  display: flex;
  padding: 0.75rem;
  gap: 0;
  justify-content: space-between;
  align-items: center;
}
.frontpage__title {
  font-size: 1.125rem;
  font-weight: bold;
  color: #0A0908;
}
.frontpage__link {
  font-size: 0.8125rem;
  color: blue;
}
.frontpage__recent-ads {
  gap: 0.75rem;
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.frontpage__main {
  display: flex;
  flex-direction: column;
  padding: 0;
  gap: 0.75rem;
}
.frontpage__gallery {
  box-shadow: 0 2px 6px 0px rgba(214, 221, 217, 0.5);
  display: flex;
  flex-direction: column;
  padding: 0.75rem;
  gap: 0.75rem;
  background-color: #ffffff;
  border: 1px solid #D6DDD9;
  width: 100%;
  box-sizing: border-box;
}
.frontpage__gallery-title {
  font-size: 1rem;
  font-weight: 700;
  color: #0A0908;
}
.frontpage__gallery-placeholder {
  font-size: 1rem;
  font-weight: 400;
  color: #D6DDD9;
}
.frontpage__gallery-divider {
  border-top: 1px solid #D6DDD9;
  height: 0px;
}
.frontpage__gallery-header {
  display: grid;
  grid-template: auto/1fr auto auto;
  gap: 0.35rem;
  align-items: center;
}
.frontpage__gallery-content {
  display: flex;
  padding: 0.25rem;
  gap: 0.75rem;
  border-right: 0.25rem solid transparent;
  overflow: auto;
}
.frontpage__gallery-content::-webkit-scrollbar {
  background-color: transparent;
  height: 0px;
}
.frontpage__gallery-control {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow-x: clip;
  align-items: center;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  flex-shrink: 0;
  border: 1px solid #D6DDD9;
  border-radius: 4px;
}
.frontpage__highlight {
  box-shadow: 0 2px 6px 0px rgba(214, 221, 217, 0.5);
  display: flex;
  padding: 0;
  gap: 0.75rem;
  flex-wrap: wrap;
  justify-content: center;
}
.frontpage__highlight-box {
  display: flex;
  flex-direction: column;
  padding: 0.75rem;
  gap: 0.75rem;
  background-color: #ffffff;
  border: 1px solid #D6DDD9;
  flex: 1 0 0;
  overflow: hidden;
  min-width: 15rem;
}
.frontpage__highlight-header {
  display: flex;
  padding: 0;
  gap: 0;
  align-items: center;
  justify-content: space-between;
}
.frontpage__highlight-item {
  display: grid;
  grid-template: repeat(4, auto)/4rem 1fr;
  gap: 0 0.75rem;
  overflow: hidden;
}
.frontpage__highlight-image {
  background-color: #ffffff;
  aspect-ratio: 1/1;
  grid-row: 1/-1;
  border: 1px solid #D6DDD9;
}
.frontpage__highlight-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: clip;
}
.frontpage__highlight-title {
  font-size: 0.9375rem;
  font-weight: 700;
  color: #0A0908;
}
.frontpage__highlight-label {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow-x: clip;
  overflow: hidden;
  font-size: 0.75rem;
  font-weight: 500;
  color: #0A0908;
}
.frontpage__highlight-label--main {
  font-weight: 700;
}
.frontpage__highlight-price {
  font-size: 0.8125rem;
  font-weight: 700;
  color: #D8510E;
}
.frontpage__highlight-divider {
  border-top: 1px solid #D6DDD9;
  height: 0px;
}
.frontpage__ad {
  display: flex;
  flex-direction: column;
  padding: 0.75rem 0.75rem 0.75rem 0.75rem;
  gap: 0.75rem;
  background-color: #D8B60E;
  position: relative;
  flex-shrink: 0;
  cursor: pointer;
}
.frontpage__ad--featured {
  width: 7rem;
}
.frontpage__ad--normal {
  width: 5rem;
}
.frontpage__ad-image {
  width: 100%;
  border: 1px solid #D6DDD9;
  background-color: #ffffff;
  aspect-ratio: 1/1;
  overflow: clip;
}
.frontpage__ad-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.frontpage__ad-title {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow-x: clip;
  font-size: 0.875rem;
  color: #0A0908;
  font-weight: 700;
}
.frontpage__ad-price {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow-x: clip;
  font-size: 0.8125rem;
  color: #0A0908;
  font-weight: 500;
}
.frontpage__ad-pricetag {
  box-shadow: 0 2px 6px 0px rgba(214, 221, 217, 0.5);
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow-x: clip;
  align-items: center;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  flex-shrink: 0;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s;
  display: flex;
  padding: 0.25rem 0.75rem;
  gap: 0.35rem;
  font-size: 0.75rem;
  border-radius: 0.25rem;
  background-color: #D8510E;
  color: #ffffff;
  font-size: 0.8125rem;
  font-weight: 700;
  position: absolute;
  top: 0.25rem;
  right: 0.25rem;
  user-select: none;
}

[data-role=select][data-state=open] [data-role=option-list] {
  visibility: visible;
}
[data-role=select][data-state=open] [data-role=marker] {
  transform: rotate(0);
}
[data-role=select] [data-role=marker] {
  transform: rotate(-90deg);
}
[data-role=select] [data-role=label] {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow-x: clip;
}
[data-role=select] [data-role=option-list] {
  display: flex;
  flex-direction: column;
  padding: 0;
  gap: 0;
  position: fixed;
  visibility: hidden;
  overflow: auto;
  z-index: 2;
}
[data-role=select] [data-role=option] {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow-x: clip;
  align-items: center;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  flex-shrink: 0;
  position: relative;
  cursor: pointer;
}
[data-role=select] [data-role=option] input {
  position: absolute;
  inset: 0;
  opacity: 0;
  cursor: pointer;
}
[data-role=select] [data-role=option] input::-webkit-file-upload-button {
  position: absolute;
  inset: 0;
  cursor: pointer;
}

.form {
  border: 1px solid #D6DDD9;
}
.form__body {
  display: flex;
  flex-direction: column;
  padding: 0;
  gap: 0.75rem;
  flex: 1;
}
.form__header {
  display: flex;
  padding: 0;
  gap: 0.75rem;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.form__footer {
  display: flex;
  padding: 0;
  gap: 0.75rem;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.form__title {
  font-size: 1.25rem;
  font-weight: 700;
  color: #0A0908;
}
.form__field {
  display: flex;
  flex-direction: column;
  padding: 0;
  gap: 0.25rem;
}
.form__error {
  font-size: 0.8125rem;
  font-weight: 500;
  color: #D8510E;
}
.form__error::before {
  content: "•";
  margin-right: 0.25rem;
}
.form__label {
  font-size: 0.8125rem;
  font-weight: 500;
  color: #0A0908;
}
.form__char-input {
  transition: background-color 0.2s, color 0.2s, border-color 0.2s;
  display: flex;
  padding: 0.35rem 0.75rem;
  gap: 0.35rem;
  font-size: 0.8125rem;
  border-radius: 4px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow-x: clip;
  width: 100%;
  box-sizing: border-box;
  padding: 0.5rem;
  border: 1px solid #D6DDD9;
  background-color: #F2F4F3;
}
.form__char-textarea {
  transition: background-color 0.2s, color 0.2s, border-color 0.2s;
  display: flex;
  padding: 0.35rem 0.75rem;
  gap: 0.35rem;
  font-size: 0.8125rem;
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box;
  padding: 0.5rem;
  border: 1px solid #D6DDD9;
  background-color: #F2F4F3;
}
.form__pill-select-widget {
  display: flex;
  padding: 0;
  gap: 0.75rem;
  flex-wrap: wrap;
}
.form__pill-select-widget [data-role=option] {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow-x: clip;
  align-items: center;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  flex-shrink: 0;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s;
  display: flex;
  padding: 0.35rem 0.75rem;
  gap: 0.35rem;
  font-size: 0.8125rem;
  border-radius: 4px;
  position: relative;
  cursor: pointer;
  gap: 0.75rem;
  padding: 0.75rem;
  border: 1px solid #D6DDD9;
  color: #0A0908;
  font-weight: 500;
}
.form__pill-select-widget [data-role=option] input {
  position: absolute;
  inset: 0;
  opacity: 0;
  cursor: pointer;
}
.form__pill-select-widget [data-role=option] input::-webkit-file-upload-button {
  position: absolute;
  inset: 0;
  cursor: pointer;
}
.form__pill-select-widget [data-role=option]:has(:checked) .icon {
  border: 1px solid #423D36;
  background-color: #423D36;
}
.form__pill-select-widget .icon {
  transition: background-color 0.2s, color 0.2s, border-color 0.2s;
  border: 2px solid #D6DDD9;
  border-radius: 9999px;
}
.form__submit {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow-x: clip;
  align-items: center;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  flex-shrink: 0;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s;
  display: flex;
  padding: 0.35rem 0.75rem;
  gap: 0.35rem;
  font-size: 0.8125rem;
  border-radius: 4px;
  color: #0A0908;
  background-color: #AFF128;
  font-weight: 500;
  padding: 0.5rem;
  width: 33%;
  justify-content: center;
  margin-left: auto;
}
.form__submit:hover {
  color: #0A0908;
  background-color: #F1CF28;
}
@media only screen and (max-width: 500px) {
  .form__submit {
    width: 100%;
  }
}
.form__reset {
  all: unset;
  font-weight: 400;
  font-size: 0.8125rem;
  color: #423D36;
  cursor: pointer;
}
.form__reset:hover {
  text-decoration: underline;
}
.form__drawer {
  display: flex;
  flex-direction: column;
  padding: 0;
  gap: 0;
  background-color: #D6DDD9;
  border-top: 1px solid #D6DDD9;
  border-right: 1px solid #D6DDD9;
}
.form__drawer [data-role=choices] [data-role=choices] {
  padding-left: 0.75rem;
}
.form__drawer [data-role=check] {
  visibility: hidden;
}
.form__drawer [data-role=branch] {
  border-left: 1px solid #D6DDD9;
}
.form__drawer [data-role=branch][data-active=true] > [data-role=root] {
  background-color: #E4E9E6;
}
.form__drawer [data-role=branch][data-active=true] > [data-role=root] [data-role=marker] {
  transform: rotate(90deg);
}
.form__drawer [data-role=leaf], .form__drawer [data-role=root] {
  position: relative;
  cursor: pointer;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow-x: clip;
  align-items: center;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  flex-shrink: 0;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s;
  display: flex;
  padding: 0.35rem 0.75rem;
  gap: 0.35rem;
  font-size: 0.8125rem;
  border-radius: 4px;
  border-radius: 0px;
  background-color: white;
  font-weight: 500;
  justify-content: space-between;
  box-sizing: border-box;
  border-bottom: 1px solid #D6DDD9;
}
.form__drawer [data-role=leaf] input, .form__drawer [data-role=root] input {
  position: absolute;
  inset: 0;
  opacity: 0;
  cursor: pointer;
}
.form__drawer [data-role=leaf] input::-webkit-file-upload-button, .form__drawer [data-role=root] input::-webkit-file-upload-button {
  position: absolute;
  inset: 0;
  cursor: pointer;
}
.form__drawer [data-role=leaf]:hover, .form__drawer [data-role=root]:hover {
  background-color: #F2F4F3;
}
.form__drawer [data-role=leaf]:has(:checked), .form__drawer [data-role=root]:has(:checked) {
  background-color: #E4E9E6;
}
.form__drawer [data-role=leaf]:has(:checked) [data-role=check], .form__drawer [data-role=root]:has(:checked) [data-role=check] {
  visibility: visible;
}
.form__action {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow-x: clip;
  align-items: center;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  flex-shrink: 0;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s;
  display: flex;
  padding: 0.25rem 0.75rem;
  gap: 0.35rem;
  font-size: 0.75rem;
  border-radius: 0.25rem;
  color: #0A0908;
  background-color: #AFF128;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 0.75rem;
  font-weight: 500;
  color: #0A0908;
}
.form__action:hover {
  color: #0A0908;
  background-color: #F1CF28;
}
.form__helper-text {
  font-size: 0.75rem;
  font-weight: 400;
  color: #0A0908;
}
.form__multi-image-input [data-role=widget] {
  display: flex;
  padding: 0.5rem;
  gap: 0.75rem;
  border: 1px solid #D6DDD9;
  background-color: #F2F4F3;
  border-radius: 0.35rem;
  flex-wrap: wrap;
}
.form__multi-image-input [data-role=image-button] {
  position: relative;
  cursor: pointer;
  display: flex;
  justify-content: center;
  padding: 0.75rem;
  border: 1px solid #D6DDD9;
  color: #22333B;
  border-radius: 0.35rem;
  background-color: white;
  width: 3rem;
  height: 2rem;
  position: relative;
  overflow: hidden;
}
.form__multi-image-input [data-role=image-button] input {
  position: absolute;
  inset: 0;
  opacity: 0;
  cursor: pointer;
}
.form__multi-image-input [data-role=image-button] input::-webkit-file-upload-button {
  position: absolute;
  inset: 0;
  cursor: pointer;
}
.form__multi-image-input [data-role=image-preview] {
  position: absolute;
  inset: 0;
}
.form__multi-image-input [data-role=image-preview] img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: clip;
}
.form__multi-image-input [data-role=uploading] {
  display: flex;
  padding: 0;
  gap: 0.75rem;
  align-items: center;
}
.form__multi-image-input [data-role=uploading] .icon {
  animation: spin 4s linear infinite;
}

.overlay {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.34);
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.prompt {
  background-color: white;
  max-width: 49rem;
  max-height: 30rem;
  flex: 1;
  height: 100%;
  overflow: auto;
  border: 1px solid #D6DDD9;
}
.prompt__body {
  display: flex;
  flex-direction: column;
  padding: 0;
  gap: 0.75rem;
  overflow: auto;
  flex: 1;
}
.prompt__footer {
  display: flex;
  padding: 0.75rem;
  gap: 0.75rem;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.prompt__confirm {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow-x: clip;
  align-items: center;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  flex-shrink: 0;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s;
  display: flex;
  padding: 0.35rem 0.75rem;
  gap: 0.35rem;
  font-size: 0.8125rem;
  border-radius: 4px;
  color: #0A0908;
  background-color: #AFF128;
  font-weight: 500;
  padding: 0.5rem;
  width: -moz-fit-content;
  width: fit-content;
  margin-left: auto;
}
.prompt__confirm:hover {
  color: #0A0908;
  background-color: #F1CF28;
}
.prompt__confirm--disabled {
  cursor: not-allowed;
  filter: grayscale(100%);
}

.ad {
  gap: 0.75rem;
  height: -moz-fit-content;
  height: fit-content;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}
.ad__header {
  grid-column: 1/-1;
}
.ad__category {
  font-size: 0.8125rem;
  font-weight: 500;
  color: #423D36;
}
.ad__imagebox {
  grid-column: 1/9;
  display: flex;
  padding: 0;
  gap: inherit;
}
.ad__imagebox [data-role=image-picker] {
  display: flex;
  flex-direction: column;
  padding: 0;
  gap: inherit;
}
@media only screen and (max-width: 980px) {
  .ad__imagebox [data-role=image-picker] {
    flex-direction: row;
    order: 2;
  }
}
.ad__imagebox [data-role=select-image] {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F2F4F3;
  border: 1px solid #D6DDD9;
  width: 6rem;
  height: 6rem;
}
.ad__imagebox [data-role=select-image] img {
  max-width: 100%;
  max-height: 100%;
}
.ad__imagebox [data-role=active-image] {
  background-color: #F2F4F3;
  border: 1px solid #D6DDD9;
  flex: 1;
  aspect-ratio: 1.61803399/1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ad__imagebox [data-role=active-image] img {
  max-width: 100%;
  max-height: 100%;
}
.ad__main {
  grid-column: 9/-1;
  display: flex;
  flex-direction: column;
  padding: 0;
  gap: 0.75rem;
}
.ad__main-header {
  display: flex;
  flex-direction: column;
  padding: 0;
  gap: 0.25rem;
}
.ad__footer {
  display: flex;
  flex-direction: column;
  padding: 0.75rem;
  gap: 0.75rem;
  border: 1px solid #D6DDD9;
  grid-column: 1/-1;
}
.ad__title {
  font-size: 1.25rem;
  color: #0A0908;
  font-weight: 500;
}
.ad__label {
  font-size: 0.875rem;
  color: #0A0908;
  font-weight: 700;
}
.ad__description {
  font-size: 0.875rem;
  color: #0A0908;
  font-weight: 400;
}
.ad__price {
  font-size: 1.125rem;
  color: #0A0908;
  font-weight: 700;
}
.ad__seller {
  display: flex;
  padding: 0.75rem;
  gap: 0.75rem;
  border: 1px solid #D6DDD9;
  align-items: center;
}
.ad__seller-title {
  font-size: 0.8125rem;
  font-weight: 700;
  color: #0A0908;
}
.ad__seller-label {
  font-size: 0.8125rem;
  font-weight: 500;
  color: #0A0908;
}
.ad__seller-link {
  font-size: 0.8125rem;
  font-weight: 500;
  color: #0A0908;
  text-decoration: underline;
  cursor: pointer;
}
.ad__seller-body {
  display: flex;
  flex-direction: column;
  padding: 0;
  gap: 0;
  flex: 1;
}
.ad__seller-footer {
  display: flex;
  padding: 0;
  gap: 0 0.75rem;
  flex-wrap: wrap;
  align-items: center;
}
.ad__button {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow-x: clip;
  align-items: center;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  flex-shrink: 0;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s;
  display: flex;
  padding: 0.75rem;
  gap: 0.75rem;
  font-size: 1rem;
  border-radius: 4px;
  justify-content: center;
  font-weight: 700;
}
.ad__button--yellow {
  color: #0A0908;
  background-color: #AFF128;
  color: #22333B;
}
.ad__button--yellow:hover {
  color: #0A0908;
  background-color: #F1CF28;
}
.ad__button--black {
  color: #F2F4F3;
  background-color: #22333B;
}
.ad__button--black:hover {
  color: #F2F4F3;
  background-color: #1C2B31;
}
@media only screen and (max-width: 980px) {
  .ad__imagebox {
    flex-direction: column;
    grid-column: 1/8;
  }
  .ad__main {
    grid-column: 8/-1;
    display: flex;
    flex-direction: column;
    padding: 0;
    gap: 0.75rem;
  }
}
@media only screen and (max-width: 720px) {
  .ad > * {
    grid-column: 1/-1;
  }
}

.prop--horizontal {
  display: flex;
  padding: 0.75rem;
  gap: 0.75rem;
}
.prop--vertical {
  display: flex;
  flex-direction: column;
  padding: 0.75rem;
  gap: 0.75rem;
}
.prop .grow {
  flex: 1;
}
.prop__body {
  display: flex;
  flex-direction: column;
  padding: 0;
  gap: 0.75rem;
}
.prop__header {
  display: flex;
  padding: 0;
  gap: 0.75rem;
  align-items: center;
  justify-content: space-between;
}
.prop__footer {
  display: flex;
  padding: 0;
  gap: 0.75rem;
  align-items: center;
  justify-content: space-between;
}
.prop__title {
  font-size: 1.125rem;
  font-weight: 700;
  color: #0A0908;
}
.prop__subtitle {
  font-size: 0.75rem;
  font-weight: 400;
  color: #423D36;
}
.prop__info {
  font-size: 1rem;
  font-weight: 500;
  color: #0A0908;
}
.prop__detail {
  font-size: 0.75rem;
  font-weight: 400;
  color: #0A0908;
}
.prop__pairing {
  display: flex;
  flex-direction: column;
  padding: 0;
  gap: 0.25rem;
}
.prop__row {
  display: flex;
  padding: 0;
  gap: 0.75rem;
}
.prop__column {
  display: flex;
  flex-direction: column;
  padding: 0;
  gap: 0.75rem;
}

.account {
  border: 1px solid #D6DDD9;
}
.account__ad {
  border: 1px solid #D6DDD9;
}
.account__ad-main {
  display: flex;
  padding: 0;
  gap: 0.75rem;
}
.account__ad-image {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F2F4F3;
  border: 1px solid #D6DDD9;
  min-width: 6rem;
  aspect-ratio: 1/1;
}
.account__ad-image img {
  max-width: 100%;
  max-height: 100%;
}
.account__ad-button {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow-x: clip;
  align-items: center;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  flex-shrink: 0;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s;
  display: flex;
  padding: 0.25rem 0.75rem;
  gap: 0.35rem;
  font-size: 0.75rem;
  border-radius: 0.25rem;
  color: #0A0908;
  background-color: #AFF128;
  justify-content: center;
  font-weight: 700;
  color: #1C2B31;
}
.account__ad-button:hover {
  color: #0A0908;
  background-color: #F1CF28;
}
.account__ad-actions {
  display: flex;
  padding: 0;
  gap: 0.25rem 0.75rem;
  flex-wrap: wrap;
}
@media only screen and (max-width: 400px) {
  .account__ad-image {
    width: 100%;
  }
  .account__ad-main {
    display: flex;
    flex-direction: column;
    padding: 0;
    gap: 0.75rem;
  }
}/*# sourceMappingURL=app.css.map */