@charset "UTF-8";
#root {
  overflow: hidden;
}

.app {
  display: flex;
  flex-direction: column;
  padding: 0;
  gap: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
  color: #0A0908;
}
.app__divider {
  border-top: 1px solid #D6DDD9;
  height: 0px;
}
.app__header {
  display: flex;
  flex-direction: column;
  padding: 0;
  gap: 0;
}
.app__go-to {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow-x: clip;
  align-items: center;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  padding: 0;
  gap: 0;
  align-items: center;
  font-size: 0.75rem;
  color: #0A0908;
  font-weight: 500;
}
.app__header-section {
  display: flex;
  padding: 0.35rem 0.75rem;
  gap: 0.75rem;
  align-items: center;
}
.app__header-section--top {
  background-color: snow;
  justify-content: flex-end;
}
.app__header-section--bottom {
  border-bottom: 1px solid #D6DDD9;
  background-color: snow;
}
.app__header-section--main {
  background-color: #E1C125;
  justify-content: center;
}
.app__header-group {
  display: flex;
  padding: 0;
  gap: 0.75rem;
  align-items: center;
}
.app__header-link {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow-x: clip;
  align-items: center;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  flex-shrink: 0;
  font-size: 0.8125rem;
}
.app__header-link:hover {
  text-decoration: underline;
}
.app__header-search-bar {
  display: flex;
  max-width: 49rem;
  gap: inherit;
  flex: 1;
}
.app__header-search-widget {
  display: flex;
  padding: 0;
  gap: 0;
  overflow: hidden;
  flex-grow: 1;
  height: 100%;
}
.app__header-search-field {
  display: flex;
  padding: 0;
  gap: 0;
  border-radius: 4px 0 0 4px;
  overflow: hidden;
  flex-grow: 1;
  border: 1px solid #D6DDD9;
  box-sizing: border-box;
  background-color: #F2F4F3;
}
.app__header-search-field [data-role=input] {
  transition: background-color 0.2s, color 0.2s, border-color 0.2s;
  display: flex;
  padding: 0.35rem 0.75rem;
  gap: 0.35rem;
  font-size: 0.8125rem;
  border-radius: 4px;
  border-radius: 0;
  position: relative;
  background-color: transparent;
  flex-grow: 1;
}
.app__header-search-field [data-role=input] input {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow-x: clip;
  padding: 0.25rem;
}
.app__header-search-button {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow-x: clip;
  align-items: center;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  flex-shrink: 0;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s;
  display: flex;
  padding: 0.35rem 0.75rem;
  gap: 0.35rem;
  font-size: 0.8125rem;
  border-radius: 4px;
  color: #F2F4F3;
  background-color: #22333B;
  border-radius: 0 4px 4px 0;
}
.app__header-search-button:hover {
  color: #F2F4F3;
  background-color: #1C2B31;
}
@media only screen and (max-width: 500px) {
  .app__header-category-select {
    display: none;
  }
}
.app__header-category-select[data-state=open] [data-role=root] {
  border-radius: 4px 4px 0 0;
}
.app__header-category-select [data-role=root] {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow-x: clip;
  align-items: center;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  flex-shrink: 0;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s;
  display: flex;
  padding: 0.35rem 0.75rem;
  gap: 0.35rem;
  font-size: 0.8125rem;
  border-radius: 4px;
  color: #F2F4F3;
  background-color: #22333B;
  width: 9rem;
  box-sizing: border-box;
}
.app__header-category-select [data-role=root]:hover {
  color: #F2F4F3;
  background-color: #1C2B31;
}
.app__header-category-select [data-role=option-list] {
  min-width: 9rem;
  overflow: hidden;
  border-radius: 0 0 2px;
  box-sizing: border-box;
}
.app__header-category-select [data-role=option] {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow-x: clip;
  align-items: center;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  flex-shrink: 0;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s;
  display: flex;
  padding: 0.35rem 0.75rem;
  gap: 0.35rem;
  font-size: 0.8125rem;
  border-radius: 4px;
  color: #F2F4F3;
  background-color: #22333B;
  border-radius: 0px;
  border: 1px solid transparent;
  box-sizing: border-box;
}
.app__header-category-select [data-role=option]:hover {
  color: #F2F4F3;
  background-color: #1C2B31;
}
.app__header-category-select [data-role=option]:has(:checked) {
  color: #F2F4F3;
  background-color: #1C2B31;
}
.app__header-category-select [data-role=option]:has(:checked) {
  border: 1px solid #2B414B;
}
.app__logo {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow-x: clip;
  align-items: center;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  flex-shrink: 0;
  color: #F2F4F3;
}
.app__icon {
  color: #0A0908;
}
.app__body {
  display: flex;
  padding: 0.75rem;
  gap: 0.75rem;
  flex-grow: 1;
}

.frontpage {
  display: flex;
  flex-direction: column;
  padding: 0;
  gap: 0.75rem;
  flex-grow: 1;
  overflow: hidden;
}
.frontpage__header {
  display: flex;
  padding: 0.75rem;
  gap: 0;
  justify-content: space-between;
  align-items: center;
}
.frontpage__title {
  font-size: 1.125rem;
  font-weight: bold;
  color: #0A0908;
}
.frontpage__link {
  font-size: 0.8125rem;
  color: blue;
}
.frontpage__recent-ads {
  gap: 0.75rem;
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.frontpage__main {
  display: flex;
  flex-direction: column;
  padding: 0;
  gap: 0.75rem;
}
.frontpage__gallery {
  display: flex;
  flex-direction: column;
  padding: 0.75rem;
  gap: 0.75rem;
  background-color: snow;
  border: 1px solid #D6DDD9;
  width: 100%;
  box-sizing: border-box;
}
.frontpage__gallery-title {
  font-size: 1rem;
  font-weight: bold;
  color: #0A0908;
}
.frontpage__gallery-divider {
  border-top: 1px solid #D6DDD9;
  height: 0px;
}
.frontpage__gallery-header {
  display: grid;
  grid-template: auto/1fr auto auto;
  gap: 0.35rem;
  align-items: center;
}
.frontpage__gallery-content {
  display: flex;
  padding: 0.25rem;
  gap: 0.75rem;
  border-right: 0.25rem solid transparent;
  overflow: auto;
}
.frontpage__gallery-content::-webkit-scrollbar {
  background-color: transparent;
  height: 0px;
}
.frontpage__gallery-control {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow-x: clip;
  align-items: center;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  flex-shrink: 0;
  border: 1px solid #D6DDD9;
  border-radius: 4px;
}
.frontpage__highlight {
  display: flex;
  padding: 0;
  gap: 0.75rem;
  flex-wrap: wrap;
  justify-content: center;
}
.frontpage__highlight-box {
  display: flex;
  flex-direction: column;
  padding: 0.75rem;
  gap: 0.75rem;
  background-color: snow;
  border: 1px solid #D6DDD9;
  flex: 1 0 0;
  overflow: hidden;
  min-width: 15rem;
}
.frontpage__highlight-header {
  display: flex;
  padding: 0;
  gap: 0;
  align-items: center;
  justify-content: space-between;
}
.frontpage__highlight-item {
  display: grid;
  grid-template: repeat(4, auto)/4rem 1fr;
  gap: 0 0.75rem;
  overflow: hidden;
}
.frontpage__highlight-image {
  background-color: snow;
  aspect-ratio: 1/1;
  grid-row: 1/-1;
  border: 1px solid #D6DDD9;
}
.frontpage__highlight-title {
  font-size: 0.9375rem;
  font-weight: 700;
  color: #0A0908;
}
.frontpage__highlight-link {
  font-size: 0.75rem;
  color: blue;
}
.frontpage__highlight-label {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow-x: clip;
  overflow: hidden;
  font-size: 0.75rem;
  font-weight: 500;
  color: #0A0908;
}
.frontpage__highlight-label--main {
  font-weight: 700;
}
.frontpage__highlight-price {
  font-size: 0.8125rem;
  font-weight: 700;
  color: #D8510E;
}
.frontpage__highlight-divider {
  border-top: 1px solid #D6DDD9;
  height: 0px;
}
.frontpage__ad {
  display: flex;
  flex-direction: column;
  padding: 0.75rem 0.75rem 0.75rem 0.75rem;
  gap: 0.75rem;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.5);
  background-color: #E1C125;
  position: relative;
  flex-shrink: 0;
}
.frontpage__ad--featured {
  width: 7rem;
}
@media only screen and (min-width: 500px) {
  .frontpage__ad--normal {
    width: 5rem;
  }
}
@media only screen and (min-width: 600px) {
  .frontpage__ad--normal {
    width: 6rem;
  }
}
.frontpage__ad-image {
  width: 100%;
  aspect-ratio: 1/1;
  border: 1px solid #D6DDD9;
  background-color: snow;
}
.frontpage__ad-title {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow-x: clip;
  font-size: 0.875rem;
  color: #0A0908;
  font-weight: 700;
}
.frontpage__ad-price {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow-x: clip;
  font-size: 0.8125rem;
  color: #423D36;
  font-weight: 500;
}
.frontpage__ad-pricetag {
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.5);
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow-x: clip;
  align-items: center;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  flex-shrink: 0;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s;
  display: flex;
  padding: 0.25rem 0.75rem;
  gap: 0.35rem;
  font-size: 0.75rem;
  border-radius: 0.25rem;
  background-color: #D8510E;
  color: snow;
  font-size: 0.8125rem;
  font-weight: 700;
  position: absolute;
  top: 0.25rem;
  right: 0.25rem;
  user-select: none;
}

.account {
  display: flex;
  padding: 0;
  gap: 0;
  flex: 1;
}
.account__auth {
  display: flex;
  flex-direction: column;
  padding: 0.75rem;
  gap: 0.75rem;
  background-color: snow;
  border: 1px solid #D6DDD9;
  flex: 1;
  max-width: 40rem;
  margin: 0 auto;
}
.account__auth .form__body {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
}
.account__title {
  font-size: 1.125rem;
  font-weight: 500;
  color: #0A0908;
}

[data-role=select][data-state=open] [data-role=option-list] {
  visibility: visible;
}
[data-role=select][data-state=open] [data-role=marker] {
  transform: rotate(0);
}
[data-role=select] [data-role=marker] {
  transform: rotate(-90deg);
}
[data-role=select] [data-role=label] {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow-x: clip;
}
[data-role=select] [data-role=option-list] {
  display: flex;
  flex-direction: column;
  padding: 0;
  gap: 0;
  position: fixed;
  visibility: hidden;
  overflow: auto;
  z-index: 2;
}
[data-role=select] [data-role=option] {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow-x: clip;
  align-items: center;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  flex-shrink: 0;
  position: relative;
  cursor: pointer;
}
[data-role=select] [data-role=option] input {
  position: absolute;
  inset: 0;
  opacity: 0;
  cursor: pointer;
}
[data-role=select] [data-role=option] input::-webkit-file-upload-button {
  position: absolute;
  inset: 0;
  cursor: pointer;
}

.form {
  display: flex;
  flex-direction: column;
  padding: 0;
  gap: 0.75rem;
}
.form__body {
  display: flex;
  flex-direction: column;
  padding: 0;
  gap: 0.75rem;
  padding-top: 0.75rem;
}
.form__header {
  display: flex;
  padding: 0.75rem;
  gap: 0.75rem;
  justify-content: center;
}
.form__title {
  font-size: 1.125rem;
  font-weight: 700;
  color: #0A0908;
}
.form__field {
  display: flex;
  flex-direction: column;
  padding: 0;
  gap: 0.25rem;
}
.form__error {
  font-size: 0.8125rem;
  font-weight: 500;
  color: #D8510E;
}
.form__error::before {
  content: "•";
  margin-right: 0.25rem;
}
.form__label {
  font-size: 0.8125rem;
  font-weight: 500;
  color: #0A0908;
}
.form__char-input {
  transition: background-color 0.2s, color 0.2s, border-color 0.2s;
  display: flex;
  padding: 0.35rem 0.75rem;
  gap: 0.35rem;
  font-size: 0.8125rem;
  border-radius: 4px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow-x: clip;
  width: 100%;
  box-sizing: border-box;
  padding: 0.5rem;
  border: 1px solid #D6DDD9;
  background-color: #F2F4F3;
}
.form__pill-select-widget {
  display: flex;
  padding: 0;
  gap: 0.75rem;
  justify-content: space-around;
  flex-wrap: wrap;
}
.form__pill-select-widget [data-role=option] {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow-x: clip;
  align-items: center;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  flex-shrink: 0;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s;
  display: flex;
  padding: 0.35rem 0.75rem;
  gap: 0.35rem;
  font-size: 0.8125rem;
  border-radius: 4px;
  position: relative;
  cursor: pointer;
  gap: 0.75rem;
  padding: 0.75rem;
  border: 1px solid #D6DDD9;
  color: #0A0908;
  font-weight: 500;
}
.form__pill-select-widget [data-role=option] input {
  position: absolute;
  inset: 0;
  opacity: 0;
  cursor: pointer;
}
.form__pill-select-widget [data-role=option] input::-webkit-file-upload-button {
  position: absolute;
  inset: 0;
  cursor: pointer;
}
.form__pill-select-widget [data-role=option]:has(:checked) .icon {
  border: 1px solid #423D36;
  background-color: #423D36;
}
.form__pill-select-widget .icon {
  transition: background-color 0.2s, color 0.2s, border-color 0.2s;
  border: 2px solid #D6DDD9;
  border-radius: 9999px;
}
.form__submit {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow-x: clip;
  align-items: center;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  flex-shrink: 0;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s;
  display: flex;
  padding: 0.5rem 0.75rem;
  gap: 0.75rem;
  font-size: 1rem;
  border-radius: 4px;
  color: #F2F4F3;
  background-color: #22333B;
  margin-left: auto;
  width: -moz-fit-content;
  width: fit-content;
  font-weight: 400;
}
.form__submit:hover {
  color: #F2F4F3;
  background-color: #1C2B31;
}/*# sourceMappingURL=app.css.map */